.user-input-component {
  position: absolute;
  width: 514px;
  height: 443px;
  left: 53px;
  top: 160px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(116, 188, 82, 0.2);
  border-radius: 20px;
}

.title {
  position: absolute;
  width: 396px;
  height: 39px;
  left: 25px;
  top: 29px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  /* or 75% */

  display: flex;
  align-items: center;

  color: #000000;
}

.name-label {
  position: absolute;
  width: 119px;
  height: 29.46px;
  left: 24px;
  top: 132px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #000000;
}

.name-input {
  box-sizing: border-box;

  position: absolute;
  width: 323px;
  height: 36.12px;
  left: 142px;
  top: 129px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.email-label {
  position: absolute;
  width: 119px;
  height: 29.46px;
  left: 24px;
  top: 206px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #000000;
}

.email-input {
  box-sizing: border-box;

  position: absolute;
  width: 323px;
  height: 36.12px;
  left: 142px;
  top: 203px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  gap: 90px;

  position: absolute;
  width: 107px;
  height: 44px;
  left: 24px;
  top: 343px;

  background: #000000;
  border-radius: 100px;
}

.submit-btn-label {
  width: 51px;
  height: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* Primary/Off white */

  color: #ebf3f8;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.clear-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  gap: 90px;

  position: absolute;
  width: 93px;
  height: 44px;
  left: 164px;
  top: 343px;

  background: #000000;
  border-radius: 100px;
}

.clear-btn-label {
  width: 37px;
  height: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
